<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="FlatFile TraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="c:\sourcecode\log\PracticaMaD.Model.log" header="" footer="" formatter="Simple Log Format" traceOutputOptions="None" filter="All" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="[{timestamp}] [{category}] ({severity}) - {message} " name="Simple Log Format" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Transaction" />
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  
  <connectionStrings>
    <add name="practicamadEntities" connectionString="metadata=res://*/PracticaMaD.csdl|res://*/PracticaMaD.ssdl|res://*/PracticaMaD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASUS\SQLEXPRESS2014;initial catalog=practicamad;integrated security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
    <!-- <alias alias="aliasName" type="Class FullName, Assembly Name" /> -->
    <alias alias="IUserProfileDao" type="Es.Udc.DotNet.PracticaMaD.Model.GrupoDao.IUserProfileDao, PracticaMaD.Model" />
    <alias alias="UserProfileDaoEntityFramework" type="Es.Udc.DotNet.PracticaMaD.Model.GrupoDao.UserProfileDaoEntityFramework, PracticaMaD.Model" />

    <alias alias="IComentarioDao" type="Es.Udc.DotNet.PracticaMaD.Model.EventoDao.IComentarioDao, PracticaMaD.Model" />
    <alias alias="ComentarioDaoEntityFramework" type="Es.Udc.DotNet.PracticaMaD.Model.EventoDao.ComentarioDaoEntityFramework, PracticaMaD.Model" />

    <alias alias="IEtiquetaDao" type="Es.Udc.DotNet.PracticaMaD.Model.EventoDao.IEtiquetaDao, PracticaMaD.Model" />
    <alias alias="EtiquetaDaoEntityFramework" type="Es.Udc.DotNet.PracticaMaD.Model.EventoDao.EtiquetaDaoEntityFramework, PracticaMaD.Model" />

    <alias alias="IEventoDao" type="Es.Udc.DotNet.PracticaMaD.Model.EventoDao.IEventoDao, PracticaMaD.Model" />
    <alias alias="EventoDaoEntityFramework" type="Es.Udc.DotNet.PracticaMaD.Model.EventoDao.EventoDaoEntityFramework, PracticaMaD.Model" />

    <alias alias="IGrupoDao" type="Es.Udc.DotNet.PracticaMaD.Model.GrupoDao.IGrupoDao, PracticaMaD.Model" />
    <alias alias="GrupoDaoEntityFramework" type="Es.Udc.DotNet.PracticaMaD.Model.GrupoDao.GrupoDaoEntityFramework, PracticaMaD.Model" />

    <alias alias="IRecomendacionDao" type="Es.Udc.DotNet.PracticaMaD.Model.GrupoDao.IRecomendacionDao, PracticaMaD.Model" />
    <alias alias="RecomendacionDaoEntityFramework" type="Es.Udc.DotNet.PracticaMaD.Model.GrupoDao.RecomendacionDaoEntityFramework, PracticaMaD.Model" />

    <alias alias="IGrupoService" type="Es.Udc.DotNet.PracticaMaD.Model.UserService.IGrupoService, PracticaMaD.Model" />
    <alias alias="GrupoService" type="Es.Udc.DotNet.PracticaMaD.Model.UserService.GrupoService, PracticaMaD.Model" />

    <alias alias="IEventoService" type="Es.Udc.DotNet.PracticaMaD.Model.EventoService.IEventoService, PracticaMaD.Model" />
    <alias alias="EventoService" type="Es.Udc.DotNet.PracticaMaD.Model.EventoService.ServicioEventos, PracticaMaD.Model" />

    <alias alias="IUserService" type="Es.Udc.DotNet.PracticaMaD.Model.UserService.IUserService, PracticaMaD.Model" />
    <alias alias="UserService" type="Es.Udc.DotNet.PracticaMaD.Model.UserService.ServicioUsuarios, PracticaMaD.Model" />

    <alias alias="DbContext" type="System.Data.Entity.DbContext,EntityFramework" />
    <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <container>
      <!-- ************   Mappings for Bussiness Objects ************* -->
      <!-- IUserProfileDao -->
      <register type="IUserProfileDao" mapTo="UserProfileDaoEntityFramework"></register>
      <!-- IComentarioDao -->
      <register type="IComentarioDao" mapTo="ComentarioDaoEntityFramework"></register>
      <!-- IEtiquetaDao -->
      <register type="IEtiquetaDao" mapTo="EtiquetaDaoEntityFramework"></register>
      <!-- IEventoDao -->
      <register type="IEventoDao" mapTo="EventoDaoEntityFramework"></register>
      <!-- IGrupoDao -->
      <register type="IGrupoDao" mapTo="GrupoDaoEntityFramework"></register>
      <!-- IRecomendacionDao -->
      <register type="IRecomendacionDao" mapTo="RecomendacionDaoEntityFramework"></register>


      <!-- IUserService -->
      <extension type="Interception" />
      <register type="IUserService" mapTo="UserService">
        <interceptor type="InterfaceInterceptor" />
        <!-- policyInjection registers a Microsoft.Practices.Unity.InterceptionExtension.AttributeDrivenPolicy no <policy> needed -->
        <policyInjection />
      </register>

      <!-- IGrupoService -->
      <extension type="Interception" />
      <register type="IGrupoService" mapTo="GrupoService">
        <interceptor type="InterfaceInterceptor" />
        <!-- policyInjection registers a Microsoft.Practices.Unity.InterceptionExtension.AttributeDrivenPolicy no <policy> needed -->
        <policyInjection />
      </register>

      <!-- IEventoService -->
      <extension type="Interception" />
      <register type="IEventoService" mapTo="EventoService">
        <interceptor type="InterfaceInterceptor" />
        <!-- policyInjection registers a Microsoft.Practices.Unity.InterceptionExtension.AttributeDrivenPolicy no <policy> needed -->
        <policyInjection />
      </register>

      <!-- DbContext -->
      <register type="DbContext" mapTo="DbContext">
        <lifetime type="singleton" />
        <constructor>
          <param name="nameOrConnectionString" type="System.String" value="practicaMaDEntities"></param>
        </constructor>
      </register>
    </container>
  </unity>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="practicamadEntities" connectionString="metadata=res://*/PracticaMaD.csdl|res://*/PracticaMaD.ssdl|res://*/PracticaMaD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=practicamad;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>